/********** Template CSS **********/
:root {
    --primary: #348e38;
    --secondary: #525368;
    --light: #e8f5e9;
    --dark: #0f4229;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}

h1,
.h1,
h2,
.h2,
.fw-bold {
    font-weight: 700 !important;
}

h3,
.h3,
h4,
.h4,
.fw-medium {
    font-weight: 600 !important;
}

h5,
.h5,
h6,
.h6,
.fw-semi-bold {
    font-weight: 500 !important;
}

/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity 0.5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

/*** Button ***/
.btn {
    transition: 0.5s;
    font-weight: 500;
}

.btn-primary,
.btn-outline-primary:hover {
    color: var(--light);
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

/*** Navbar ***/
/* .navbar.sticky-top {
    top: -100px;
    transition: .5s;
}

.navbar .navbar-brand,
.navbar a.btn {
    height: 80px
}

.navbar .navbar-nav .nav-link {
    margin-right: 35px;
    padding: 25px 0;
    color: var(--dark);
    font-size: 18px;
    font-weight: 500;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
} */

.custom-navbar {
    background: #3b5d50 !important;
    padding-top: 20px;
    padding-bottom: 20px;
}
.custom-navbar .navbar-brand {
    font-size: 32px;
    font-weight: 600;
}
.custom-navbar .navbar-brand > span {
    opacity: 0.4;
}
.custom-navbar .navbar-toggler {
    border-color: transparent;
}
.custom-navbar .navbar-toggler:active,
.custom-navbar .navbar-toggler:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}
@media (min-width: 992px) {
    .custom-navbar .custom-navbar-nav li {
        margin-left: 15px;
        margin-right: 15px;
    }
}
.custom-navbar .custom-navbar-nav li a {
    font-weight: 500;
    color: #ffffff !important;
    opacity: 0.5;
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
    position: relative;
}
@media (min-width: 768px) {
    .custom-navbar .custom-navbar-nav li a:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 8px;
        right: 8px;
        background: #f9bf29;
        height: 5px;
        opacity: 1;
        visibility: visible;
        width: 0;
        -webkit-transition: 0.15s all ease-out;
        -o-transition: 0.15s all ease-out;
        transition: 0.15s all ease-out;
    }
}
.custom-navbar .custom-navbar-nav li a:hover {
    opacity: 1;
}
.custom-navbar .custom-navbar-nav li a:hover:before {
    width: calc(100% - 16px);
}
.custom-navbar .custom-navbar-nav li.active a {
    opacity: 1;
}
.custom-navbar .custom-navbar-nav li.active a:before {
    width: calc(100% - 16px);
}
.custom-navbar .custom-navbar-cta {
    margin-left: 0 !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}
@media (min-width: 768px) {
    .custom-navbar .custom-navbar-cta {
        margin-left: 40px !important;
    }
}
.custom-navbar .custom-navbar-cta li {
    margin-left: 0px;
    margin-right: 0px;
}
.custom-navbar .custom-navbar-cta li:first-child {
    margin-right: 20px;
}

/*** Header ***/
.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(15, 66, 41, 0.6);
    z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
    width: 15%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    background-color: var(--primary);
    border: 10px solid var(--primary);
}

@media (max-width: 768px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 450px;
    }

    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.page-header {
    background: linear-gradient(rgba(15, 66, 41, 0.6), rgba(15, 66, 41, 0.6)),
        url(../img/carousel-1.jpg) center center no-repeat;
    background-size: cover;
}

.page-header .breadcrumb-item + .breadcrumb-item::before {
    color: var(--light);
}

.page-header .breadcrumb-item,
.page-header .breadcrumb-item a {
    font-size: 18px;
    color: var(--light);
}

/*** Top Feature ***/
@media (min-width: 991.98px) {
    .top-feature {
        position: relative;
        margin-top: -80px;
        z-index: 1;
    }
}

/*** Facts & Quote ***/
.facts,
.quote {
    background: rgba(15, 66, 41, 0.6);
}

/*** Service ***/
.service-item {
    position: relative;
    text-align: center;
}

.service-item .service-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
}

.service-item .service-img img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    object-fit: cover;
    transform: scale(1.2);
    transition: 0.3s;
    z-index: -1;
}

.service-item:hover .service-img img {
    transform: scale(1);
}

.service-item .service-text {
    background: #ffffff;
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
}

.service-item:hover .service-text {
    background: rgba(15, 66, 41, 0.6);
}

.service-item .service-text h4,
.service-item .service-text p {
    transition: 0.3;
}

.service-item:hover .service-text h4 {
    color: #ffffff;
}

.service-item:hover .service-text p {
    color: var(--light);
}

.service-item .service-text .btn-square {
    width: 100px;
    height: 100px;
    background: transparent;
    transition: 0.5s;
}

.service-item:hover .service-text .btn-square {
    background: var(--light);
}

.service-item .service-text .btn {
    width: 31px;
    height: 31px;
    display: inline-flex;
    align-items: center;
    color: var(--dark);
    background: var(--light);
    white-space: nowrap;
    overflow: hidden;
    transition: 0.3s;
}

.service-item:hover .service-text .btn {
    width: 112px;
}

/*** Project Portfolio ***/
#portfolio-flters {
    display: inline-block;
    background: var(--light);
    padding: 10px 15px;
}

#portfolio-flters li {
    display: inline-block;
    font-weight: 500;
    color: var(--primary);
    cursor: pointer;
    transition: 0.5s;
    border-bottom: 2px solid transparent;
}

#portfolio-flters li:hover,
#portfolio-flters li.active {
    color: var(--dark);
    border-color: var(--dark);
}

.portfolio-inner {
    position: relative;
    overflow: hidden;
}

.portfolio-inner::before,
.portfolio-inner::after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(15, 66, 41, 0.6);
    transition: 0.5s;
}

.portfolio-inner::after {
    left: auto;
    right: 0;
}

.portfolio-inner:hover::before,
.portfolio-inner:hover::after {
    width: 50%;
}

.portfolio-inner .portfolio-text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    z-index: 3;
    opacity: 0;
}

.portfolio-inner:hover .portfolio-text {
    transition-delay: 0.3s;
    opacity: 1;
}

.portfolio-inner .portfolio-text .btn {
    background: var(--light);
    color: var(--primary);
}

.portfolio-inner .portfolio-text .btn:hover {
    background: var(--primary);
    color: var(--light);
}

/*** Team ***/
.team-item {
    position: relative;
    overflow: hidden;
}

.team-item .team-text {
    position: absolute;
    width: calc(100% - 45px);
    left: -100%;
    bottom: 45px;
    padding: 1.5rem;
    background: #ffffff;
    border-radius: 0 4px 4px 0;
    opacity: 0;
    transition: 0.5s;
}

.team-item:hover .team-text {
    left: 0;
    opacity: 1;
}

.team-item .team-social .btn {
    background: var(--light);
    color: var(--primary);
}

.team-item .team-social .btn:hover {
    background: var(--primary);
    color: var(--light);
}

.team-item .team-img .team-social {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    z-index: 3;
    opacity: 0;
}

.team-item:hover .team-img .team-social {
    transition-delay: 0.3s;
    opacity: 1;
}

/*** Testimonial ***/

.testimonial-carousel .owl-item img {
    width: 100px;
    height: 100px;
}

.testimonial-carousel .owl-nav {
    margin-top: 30px;
    display: flex;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    margin-right: 15px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary);
    background: var(--light);
    border-radius: 4px;
    font-size: 22px;
    transition: 0.5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    color: var(--light);
}

/*** Footer ***/
.footer-section {
    padding: 80px 0;
    background: #ffffff;
}
.footer-section .relative {
    position: relative;
}
.footer-section a {
    text-decoration: none;
    color: #2f2f2f;
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
}
.footer-section a:hover {
    color: rgba(47, 47, 47, 0.5);
}
.footer-section .subscription-form {
    margin-bottom: 40px;
    position: relative;
    z-index: 2;
    margin-top: 100px;
}
@media (min-width: 992px) {
    .footer-section .subscription-form {
        margin-top: 0px;
        margin-bottom: 80px;
    }
}
.footer-section .subscription-form h3 {
    font-size: 18px;
    font-weight: 500;
    color: #3b5d50;
}
.footer-section .subscription-form .form-control {
    height: 50px;
    border-radius: 10px;
    font-family: "Inter", sans-serif;
}
.footer-section .subscription-form .form-control:active,
.footer-section .subscription-form .form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #3b5d50;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}
.footer-section .subscription-form .form-control::-webkit-input-placeholder {
    font-size: 14px;
}
.footer-section .subscription-form .form-control::-moz-placeholder {
    font-size: 14px;
}
.footer-section .subscription-form .form-control:-ms-input-placeholder {
    font-size: 14px;
}
.footer-section .subscription-form .form-control:-moz-placeholder {
    font-size: 14px;
}
.footer-section .subscription-form .btn {
    border-radius: 10px !important;
}
.footer-section .sofa-img {
    position: absolute;
    top: -200px;
    z-index: 1;
    right: 0;
}
.footer-section .sofa-img img {
    max-width: 380px;
}
.footer-section .links-wrap {
    margin-top: 0px;
}
@media (min-width: 992px) {
    .footer-section .links-wrap {
        margin-top: 54px;
    }
}
.footer-section .links-wrap ul li {
    margin-bottom: 10px;
}
.footer-section .footer-logo-wrap .footer-logo {
    font-size: 32px;
    font-weight: 500;
    text-decoration: none;
    color: #3b5d50;
}
.footer-section .custom-social li {
    margin: 2px;
    display: inline-block;
}
.footer-section .custom-social li a {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    display: inline-block;
    background: #dce5e4;
    color: #3b5d50;
    border-radius: 50%;
}
.footer-section .custom-social li a:hover {
    background: #3b5d50;
    color: #ffffff;
}
.footer-section .border-top {
    border-color: #dce5e4;
}
.footer-section .border-top.copyright {
    font-size: 14px !important;
}

/* ini css baru */
.product-section {
    padding: 7rem 0;
}
.product-section .product-item {
    text-align: center;
    text-decoration: none;
    display: block;
    position: relative;
    padding-bottom: 50px;
    cursor: pointer;
}
.product-section .product-item .product-thumbnail {
    margin-bottom: 30px;
    position: relative;
    top: 0;
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
}
.product-section .product-item h3 {
    font-weight: 600;
    font-size: 16px;
}
.product-section .product-item strong {
    font-weight: 800 !important;
    font-size: 18px !important;
}
.product-section .product-item h3,
.product-section .product-item strong {
    color: #2f2f2f;
    text-decoration: none;
}
.product-section .product-item .icon-cross {
    position: absolute;
    width: 35px;
    height: 35px;
    display: inline-block;
    background: #2f2f2f;
    bottom: 15px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-bottom: -17.5px;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
}
.product-section .product-item .icon-cross img {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.product-section .product-item:before {
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    content: "";
    background: #dce5e4;
    height: 0%;
    z-index: -1;
    border-radius: 10px;
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
}
.product-section .product-item:hover .product-thumbnail {
    top: -25px;
}
.product-section .product-item:hover .icon-cross {
    bottom: 0;
    opacity: 1;
    visibility: visible;
}
.product-section .product-item:hover:before {
    height: 70%;
}

.maincontainer {
    perspective: 1000px;
    position: relative;
}
.thecard {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 2s ease;
    transform-origin: center;
}
.maincontainer:hover .thecard {
    transform: rotateY(180deg);
}
/* .thecard:hover{
            transform: rotateY(180deg);
        } */
/* .thefront{
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
        } */
.thefront,
.theback {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.theback {
    transform: rotateY(180deg);
}
